<%- include('../partials/header.ejs') %>

<main>
	<!-- <div class="flex">
		<div>
			<img src="/uploads/<%= product.image %>" alt="">
		</div>
	</div> -->
	<div class="card mb-3" style="max-width: 1200px;">
		<div class="row g-0">
		  <div class="col-md-4">
			<img src="..." class="img-fluid rounded-start" alt="...">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>
	  </div>
    <!-- <div class="card">
		<img class="card-image" src="/uploads/<%= product.image %>" alt="">
		<h2 class="card-title"><%= product.name %></h2>
		<p class="card-price">$ <%= product.price %></p>
            <button class="card-action">Buy now</button>
		<div class="links">
			
				<span>
					<%= product.likes %>
				</span>
			
			<a href="/product/<%=product.slug%>/like"> 
				<span>
					<i class="fa-solid fa-thumbs-up"></i>
				</span>
			<a href="/product/<%=product.slug%>/dislike"> 
				<span> 
					<i class="fa-solid fa-thumbs-down"></i>
				</span>
			</a>
			<a href="/product/<%=product.slug%>/delete"> 
				<span> delete </span>
			</a><span></span>
			<a href="/product/<%=product.slug%>/edit"> 
				<span> edit </span>
			</a><span></span>
		</div>
	</div> -->
</main>